@model IEnumerable<prueba.Trabajador>

@{
    ViewBag.Title = "Trabajadores Existentes";
}

<h2>Trabajadores Existentes</h2>

<p>
    @Html.ActionLink("Registar Nuevo Trabajador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contacto)
            </td>
            <td>
                | @Html.ActionLink("Editar", "Edit", new { id = item.documento }) |

                @Html.ActionLink("Eliminar", "Delete", new { id = item.documento })|
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Retornar a Fincas", "Index", "Fincas") <br /> <br />

@Html.ActionLink("Ver distribucion de trabajadores", "Index", "Trabajadorxfincas")