@model IEnumerable<prueba.Residentes>

@{
    ViewBag.Title = "Registro de Residentes";
}

<h2>Registro de Residentes</h2>

<p>
    @Html.ActionLink("Ingresar nuevo Familiar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parentesco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finca1.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parentesco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finca1.nombre)
            </td>
            <td>
                |   @Html.ActionLink("Editar", "Edit", new { id = item.documento }) |
                @Html.ActionLink("Detallar", "Details", new { id = item.documento }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.documento })|
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Retornar a Fincas", "Index", "Fincas")