@model IEnumerable<prueba.Propietario>

@{
    ViewBag.Title = "Resumen Propietarios";
}

<h2>Informacion general Propietarios</h2>

<p>
    @Html.ActionLink("Registrar Nuevo Propietario", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finca1.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finca1.nombre)
            </td>
            <td>
               | @Html.ActionLink("Editar", "Edit", new { id = item.cedula }) |
                @Html.ActionLink("Detallar", "Details", new { id = item.cedula }) |

            </td>
        </tr>
    }

</table>
@Html.ActionLink("Retornar a Fincas", "Index", "Fincas")